<template>
  <div>1234567</div>

</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
